@font-face {
  font-family: montserrat;
  src: url(Fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: kage;
  src: url(Fonts/KAGE_DEMO_FONT-Black.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #FFCD86;
  color: white;
  font-family: montserrat, sans-serif;
  padding: 20px;
}
nav{
  display: block;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px 5px;
  margin: 20px;
width: 100%
}

nav a{
  margin: 20px;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

#welcome {
  color: #f48a72;
  background-color: #FFCD86;
  font-family:  kage, serif;
  font-size: 50px;
  position: relative;
  padding-right: 20px;
  display: inline-block;
  margin: 20px;
}

h1 {
  color: #f48a72;
  background-color: #FFCD86;
  font-family: kage, serif;
  font-size: 60px;
  position: relative;
}

h2 {
  font-family: kage, sans-serif;
  color: white;
  font-size: 30px;
  margin: 20px;
}

h3{
  margin: 20px;
  font-weight: bolder;
}

p{
  color: #ffffff;
  font-size: 14px;
  margin: 20px;
}

a{
  color: #f48a72;
  text-decoration: none;
}

a:hover {
color: #ffebeb;
  top: -5px;
}

ul li{
  list-style: none;
}

#profilepic {
  border: solid #ffebeb thick;
  border-radius: 50%;
  position: relative;
  display: inline-block;

}
footer {
  text-align: center;
  bottom: 0;
}
