@font-face {
  font-family: 'montserrat';
  src: url(Fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'lemonmilk';
  src: url(Fonts/LEMONMILK-Regular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  color: black;
  font-family: 'quicksand', sans-serif;
  padding: 20px;
}
nav{
  font-family: 'lemonmilk', sans-serif;
  display: block;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px 5px;
  margin: 20px;
width: 100%
}

nav a{
  margin: 20px;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  text-transform: uppercase;
  font-size: 15px;
}

nav a:hover {
  letter-spacing: 5px;
}

#welcome {
  color: #f7a28a;
  background-color: white;
  font-family:  'lemonmilk', sans-serif;
  font-size: 50px;
  position: relative;
  padding-right: 20px;
  display: inline-block;
  margin: 20px;
}

h1 {
  color: #f48a72;
  background-color: white;
  font-family: 'lemonmilk', serif;
  font-size: 60px;
  position: relative;
}

h2 {
  font-family: 'quicksand', serif;
  color: black;
  font-size: 30px;
  margin: 20px;
}

h3{
  font-family: 'lemonmilk';
  font-size: 30px;
  margin: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
}
h4 {
  margin: 10px 30px;
  font-weight: bold;
}
p{
  color: black;
  font-size: 14px;
  margin: 20px;
}

a{
  color: #f7a28a;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #f5c45b;
  top: -5px;
}

a:active {
  color: #fbeae2;
}

ul li{
  list-style: none;
  margin: 10px 40px;
  line-height: 0.5;
  font-size: 14px;
  display: inline;
}

#profilepic {
  border: solid #ffebeb thick;
  border-radius: 50%;
  position: relative;
  display: inline-block;

}
footer {
  text-align: center;
  bottom: 0;
}


